.container-left{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
    margin: 0 auto;
    max-width: 1366px;
    border: 1px solid #3a7bd5;
    border-radius: 20px;
}
.link{
    color: #fff;
}
.tableau-touche{
    max-width: 500px;
    border-collapse: collapse;
}
.tableau-bless table td, .tableau-touche td{
    border: 1px solid #c6c5c5 ;
}
.tableau-bless table td{
    min-width: 23px;
}
.resultat-combat table{
    border-collapse: collapse;
}
.resultat-combat table td{
    border: 1px solid #c6c5c5 ;
}
.bold{
    font-weight: bold;
    color: #d3d3d3;
    background-color: #4e5461
}
.bld{
    font-weight: bold;
}
 ol,ul{
    padding-left: 20px;
 }